https://github.com/chernyshov-dp/hse-masters/tree/main/da%26ml* linguist-vendored
https://github.com/chernyshov-dp/hse-masters/tree/main/nmo* linguist-vendored
https://github.com/chernyshov-dp/hse-masters/tree/main/genomics* linguist-vendored
